{% extends 'base.html' %}

{% block content %}

<h2> Sobre </h2>

    <p>
        Esse site foi construído por quatro estudantes para um projeto prático da disciplina de Engenharia de Software 
        no segundo semestre do ano de 2021 (ERE), e tem como objetivo permitir que os alunos da UFMG dos cursos de: 
        Ciência da Computação, Sistemas de Informação e Matemática Computacional, compartilhem suas experiências a respeito
        dos professores do DCC (Departamento de Ciência da Computação) em suas respectivas disciplinas.
    </p>
    <p> 
     ❗ Nota: O conteúdo disponibilizado é meramente informacional e não serve como meio de avaliação
        oficial dos docentes. 
    </p>

<h2> Moderação de conteúdo </h2>

    <p>
        Os administradores prezam pela liberdade de expressão, e não se valerão de nenhuma forma de
        censurar os comentários aqui hospedados, exceto aqueles que sejam caluniosos, ou configurem como
        crime, que serão imediatamente removidos. 
    </p> 


<h2> Política de Privacidade </h2>

    <p> 
        Nós não armazenamos, nem coletamos nenhuma informação referente aos nossos usuários, a não ser os dados
        que estes disponibilizem explicitamente (nos formulários de avaliação);
    </p>

{% endblock content %}
