<form>
    <textarea name="'textarea'" rows=3 cols=100> Escreva seu comentário aqui! </textarea>
    <button type="submit"> Enviar comentário. </button>
</form>
<p> Didática: </p>
<form>
    <input type='radio' id='nota1' name='didatica' value='1'>
	<label for='nota1'> ⭐ </label>
    <input type='radio' id='nota2' name='didatica' value='2'>
	<label for='nota2'> ⭐ </label>
    <input type='radio' id='nota3' name='didatica' value='3'>
	<label for='nota3'> ⭐ </label>
</form> 
<p> Relação com os alunos: </p>
<form>
    <input type='radio' id='nota1' name='relacao' value='1'>
	<label for='nota1'> ❤️  </label>
    <input type='radio' id='nota2' name='relacao' value='2'>
	<label for='nota2'> ❤️  </label>
    <input type='radio' id='nota3' name='relacao' value='3'>
	<label for='nota3'> ❤️  </label>
</form>
